<div>
  <link href="./how-it-works.css" rel="stylesheet" />
  <section class="how-it-works-how-it-works">
    <div class="how-it-works-container"></div>
    <div class="how-it-works-container1">
      <div
        class="centered-container-centered-container centered-container-root-class-name"
      >
        <div class="centered-container-heading">
          <span class="centered-container-text"><span>How it works</span></span>
          <span class="centered-container-text1 title">
            <span>Being social and getting leads has never been easier</span>
          </span>
        </div>
        <div class="centered-container-category">
          <div class="centered-container-headng">
            <span class="centered-container-text2">
              <span>1 — Providing Information</span>
            </span>
            <span class="centered-container-text3">
              <span>
                Visit the "Buy Now" page on our website after viewing the
                pricing. Fill out the required information about your driving
                school and account details.
              </span>
            </span>
            <div class="centered-container-get-started template-button">
              <span class="centered-container-text4"><span>Buy Now</span></span>
            </div>
          </div>
          <div class="centered-container-container">
            <img
              alt="pastedImage"
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              class="centered-container-pasted-image"
            />
          </div>
        </div>
        <div class="centered-container-row">
          <div class="centered-container-category1">
            <div class="centered-container-headng1">
              <span class="centered-container-text5">
                <span>2 — Confirmation</span>
              </span>
              <span class="centered-container-text6">
                <span>
                  Submit your information and await confirmation via email. Once
                  you receive the email, pay for your subscription at the
                  designated post office. Provide proof of payment via email.
                </span>
              </span>
            </div>
            <img
              alt="pastedImage"
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              class="centered-container-pasted-image1"
            />
          </div>
          <div class="centered-container-category2">
            <div class="centered-container-headng2">
              <span class="centered-container-text7">
                <span>3 — Activate Your Account</span>
              </span>
              <span class="centered-container-text8">
                <span>
                  After your payment has been verified, your account will be
                  created. A username will be assigned to you, which you can use
                  to log in to your account and start using Drive Your School to
                  manage your driving school
                </span>
              </span>
            </div>
            <div class="centered-container-container1">
              <img
                alt="pastedImage"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="centered-container-pasted-image2"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
